<div>
    <div>
        <div class="header">
            <!-- <div class="headerItem">
                <i class="fa fa-bars"></i>
            </div> -->
            <div class="headerItem">
                Dashboard
            </div>
            <!-- <div class="headerItem">
                <i class="fa fa-chevron-left"></i>
            </div> -->
        </div>
        <div>
            <div class="gallerySlide">
                content
            </div>
        </div>
        
    </div>
</div>